body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    color: white;
}

.primary-color {
	color: #279af2;
}
.bg-primary-color {
	background-color: #279af2;
}

.secondary-color {
	color: #caf1f8;
}
.bg-secondary-color {
	background-color: #4299e1;
}

.third-color {
	color: #b93584;
	font-weight: bold;
}
.bg-third-color {
	/*background-color: #b22858;*/
	background-color: #d53f8c;
}

.success-color {
	color: #43e61f;
}
.bg-success-color {
	background-color: #43e61f;
}

.danger-color {
	color: #d40a0a;
}
.bg-danger-color {
	background-color: #d40a0a;
}

.bg-blackish {background-color: #212121;}
/*color END*/


button {
    outline: none !important;
}

.animes {
    
}

/* square buttons */
.rec.rec-arrow {
    border-radius: 0;
    background-color: transparent;
    border: none;
    width: 10px;
    color: white;
}
/* round buttons on hover */
.rec.rec-arrow:hover {
    border-radius: 50%;
    background-color: transparent;
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
    visibility: hidden;
}
.rec-carousel-item,
.rec-carousel-item:focus {
    outline: none !important;
    background-color: transparent;
    box-shadow: none;
}
.chowzb,
.chowzb:hover,
.chowzb:focus {
    box-shadow: none !important;
}
.chowzb:hover:enabled, 
.chowzb:focus:enabled {
    color: black !important;
    background-color: white !important;
}

.top-image {
    height: 180px;
    width: 290px;
    overflow: hidden;
}
.top-image img {
    height: 180px;
    width: 290px;
}

.up-image {
    height: 300px;
    width: 200px;
    overflow: hidden;
}
.up-image img {
    height: 270px;
    width: 200px;
}
/* UpcomingAll */
.up-card {
    min-height: 450px;
}